[
  {
    "type": "simulated_timer",
    "id": "timer"
  },
   {
    "type": "database",
    "id": "database",
    "initial_vars": {}
  },
  {
    "type": "simulated_robot",
    "id": "robot",
    "initial_pose": {
      "position": [0, 0, 0],
      "orientation": [0, 0, 0]
    },
    "tools": {
      "Flange": {
        "position": [0, 0, 0],
        "orientation": [0, 0, 0]
      },
      "tool": {
        "position": [0, 0, 2],
        "orientation": [0, 0, 0]
      }
    }
  }
]
